<launch>
    <include file="$(find freenect_launch)/launch/freenect.launch"/>
    <include file="$(find baxter_imaging)/launch/display_image.launch"/>
    <arg name="marker_size" default="9" />
    <arg name="max_new_marker_error" default="0.2" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/camera/rgb/image_raw" />
    <arg name="cam_info_topic" default="/camera/rgb/camera_info" />
    <arg name="output_frame" default="/camera_link" />
    <arg name="max_frequency" default="10.0" />
    <arg name="marker_resolution" default="5" />
    <arg name="marker_margin" default="2" />
    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
    <param name="robot_description" textfile="$(find baxter_description)/urdf/baxter.urdf"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="$(find baxter_imaging)/launch/baxter.rviz" required="true"/>
    <node name="actual_display" pkg="tf" type="static_transform_publisher" args=""/> 
</launch>