<launch>
    <include file="$(find freenect_launch)/launch/freenect.launch"/>
    <include file="$(find baxter_imaging)/launch/display_image.launch"/>
    <arg name="marker_size" default="17.0" />
    <arg name="max_new_marker_error" default="0.2" />
    <arg name="max_track_error" default="0.1" />
    <arg name="cam_image_topic_kinect" default="/camera/rgb/image_raw" />
    <arg name="cam_info_topic_kinect" default="/camera/rgb/camera_info" />
    <arg name="output_frame_kinect" default="/camera_link" />
    <arg name="cam_image_topic_baxter" default="/cameras/left_hand_camera/image" />
    <arg name="cam_info_topic_baxter" default="/cameras/left_hand_camera/camera_info" />
    <arg name="output_frame_baxter" default="/reference/left_hand_camera" />
    <arg name="max_frequency" default="10.0" />
    <arg name="marker_resolution" default="5" />
    <arg name="marker_margin" default="2" />
    <arg name="kinect_to_head_camera_x" default="-17.14"/>
    <arg name="kinect_to_head_camera_y" default="-17.14"/>
    <arg name="kinect_to_head_camera_z" default="-17.14"/>
    <node name="ar_track_alvar_kinect" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic_kinect) $(arg cam_info_topic_kinect) $(arg output_frame_kinect)" />
    <node name="ar_track_alvar_baxter" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic_baxter) $(arg cam_info_topic_baxter) $(arg output_frame_baxter)" />
    <param name="robot_description" textfile="$(find baxter_description)/urdf/baxter.urdf"/>
    <param name="robot_description" textfile="$(find baxter_description)/urdf/baxter.urdf"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>\

    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="$(find baxter_imaging)/launch/baxter.rviz" required="true"/>
    <include file="$(find baxter_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>
    <include file="$(find baxter_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
    </include>
    <include file="$(find baxter_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include> -->
</launch>